body {
  margin: 0;
}
.circle-with-text {
  background: brown;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding: 15px;
  margin-top: 2em;
  height: 180px;
  width: 180px;
  color: #fff;
}
.multi-line-text {
  font-size: 20px;
}
.int {
  padding: .5em;
}
input {
  width: 50px;
}
h3 {
  padding-top: 2em;
}
#calculate {
  margin-top: -1.5em;;
  margin-bottom: 2em;
}
p {
  font-size: 12px;
}
